head{
    height: 100%;
    width: 100%;
}
body{
    min-width: 800px;
    height: 100%;
    width: 100%;
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
}
ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
a{
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
.wrapper{
    overflow: hidden;
    min-width: 100%;
}
.indent{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header{
    height: 79px;
    width: 100%;
    background-color: #ffffff;

    box-shadow: 0 3px 3px rgba(130, 130, 130, 0.2);
    margin-bottom: 3px;
}
.header__left {
    display: block;
    width: 50%;
}
.header__right{

}
.contacts{
    padding-top: 25px;
    color: #32c3e5;
    position: relative;
}
.contacts__short{
    border-bottom: 2px #32c3e5 dotted;
    font-size: 18px;
    font-weight: 700;
}
.contacts-all{
    top: 50px;
    left: -40px;
    width: 191px;
    height: 141px;
    position: absolute;
    background-image: url(img/Polygon.png);
    display: none;
    transition: all .50s;
}
.contacts:hover .contacts__short{
    color: #e85f61;
    border-bottom: 2px #e85f61 dotted;
}
.contacts:hover .contacts-all{
    display: block;
}
.contacts-all__list{
    color: #727272;
    margin: 10px 0 30px;

}
.contacts-all__inform{
    height: 42px;
}
.only-border{
    border-top: 1px solid #aeaeae;
}
.listing{
    padding-top: 12px;
    padding-left: 12px;
}
.user{
    height: 79px;
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.user__avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff;
    vertical-align: middle;
    margin-top: 9px;
}
.user__avatar-pic{
    width: 100%;
    height: 100%;
    display: block;
}
.user__name{
    font-size: 18px;
    text-align: left;
    margin-left: 20px;
    overflow: hidden;
    white-space: nowrap;    
    padding-top: 30px;
}
.main-content{
    min-height: calc(100vh - 159px);
    background-color: rgb(246, 246, 246);
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-top: 27px;
}
.sidebar{
    font-size: 18px;
    height: 100%;
    min-width: 220px;
    float: right;
}
.sidebar__item{
    height: 44px;
    text-align: right;
    padding-top: 12px;
    padding-right: 30px;
}
.sidebar__link{
    color: #414141;
}
.sidebar__link:visited{
    color: #414141;
}
.sidebar__link:active .sidebar__item{
    font-weight: 700;
    color: #33c1e3;
    border-right: 6px solid #33c1e3;
}
.sidebar__link:hover .sidebar__item{
    color: #33c1e3;
}
.sidebar__pic{
    height: 18px;
    width: 18px;
    margin-right: 9px;

}
.portfolio-head{
    font-weight: 500;
    font-size: 35px;
    height: 45px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.portfolio__item{
    display: inline-block;
    width: 220px;
    height: 281px;
    background-color: #ffffff;
    margin: 0 0 20px 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(213, 213, 213, 0.5);
    overflow: hidden;
}
.portfolio-section{
    min-height: 100%;
    min-width: 100%;
}
.portfolio-section:hover .portfolio-section__tittle{
    color: #e85f61;
}
.portfolio-section__pic{
    width: 220px;
    height: 172px;
}
.portfolio-section__inform{
    margin-top: 18px;
    margin-left: 18px;
}
.portfolio-section__tittle{
    height: 24px;
    color: #33c1e3;
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 6px;
}
.portfolio-section__org{
    font-weight: 300;
    color: #414141;
    font-size: 14px;
    margin-bottom: 12px;
}
.portfolio-section__type{
    font-weight: 500;
    color: #aeaeae;
    font-size: 14px;
}
.portfolio-section__type-icon{
    margin-right: 5px;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    background-color: #414141;
}
.footer__social-list{
    display: flex;
    flex-direction: row;
}
.footer__social-item{
    width: 31px;
    height: 30px;
    margin-left: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}
.footer__social-pic{
    transition: .5s;
}
.footer__FaceBook{
    background-repeat: no-repeat;
    background-image: url(img/Social-pic/FaceBook-hover.png);
}
.footer__vk{
    background-repeat: no-repeat;
    background-image: url(img/Social-pic/vk-hover.png);
}
.footer__Twitter{
    background-repeat: no-repeat;
    background-image: url(img/Social-pic/Twitter-hover.png);
}
.footer__social-pic:hover{
    opacity: 0;
}
.footer__message{
    font-size: 14px;
    color: #969696;
    padding-top: 16px;
}
