.sidebar{
  font-size: 18px;
  height: 100%;
  min-width: 220px;
}
.sidebar__item{
  height: 44px;
  text-align: right;
  padding-top: 12px;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.sidebar__link{
  color: $black;
}
.sidebar__link:visited{
  color: $black;
}
.sidebar__link:active .sidebar__item{
  font-weight: 700;
  color: $blue;
  border-right: 6px solid $blue;
}
.sidebar__link:hover .sidebar__item{
  color: $blue;
}
.sidebar__active-item{
  font-weight: 700;
  color: $blue;
  border-right: 6px solid $blue;
}
.sidebar__pic-text{
}
.sidebar__pic{
  display: none;
}
.sidebar__active-item{
  .sidebar__pic-about{background: none;}
  .sidebar__pic-career{background: none;}
  .sidebar__pic-portfolio{background: none;}
  .sidebar__pic{
    display: block;
  }
}
.sidebar__link:hover{
  .sidebar__pic-about{background: none;}
  .sidebar__pic-career{background: none;}
  .sidebar__pic-portfolio{background: none;}
  .sidebar__pic{
    display: block;
  }
}
  
.sidebar__pic-about, .sidebar__pic-career, .sidebar__pic-portfolio{
  background-repeat: no-repeat;
  background-size: 100%;
  height: 18px;
  width: 16px;
  float: left;
  margin-right: 9px;
}
.sidebar__pic-about{
  background-image: url(../../img/sidebar-pic/about.png);
}
.sidebar__pic-career{
  background-image: url(../../img/sidebar-pic/career.png);
}
.sidebar__pic-portfolio{
  background-image: url(../../img/sidebar-pic/portfolio.png);
}
